{{define "content"}}
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Login</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{if not (empty .Flash)}}
      <p class="mdl-color-text--pink">{{.Flash}}</p>
    {{end}}

    <form action="/login{{if not (empty (params "u"))}}?u={{raw (params "u")}}{{end}}" method="POST">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--small">
        <input class="mdl-textfield__input" type="text" id="username" name="session[username]" autofocus="autofocus" value="{{.Username}}" />
        <label class="mdl-textfield__label" for="username">Username</label>
      </div>
      @student.guc.edu.eg
      <br />
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="password" name="session[password]" />
        <label class="mdl-textfield__label" for="password">Password</label>
      </div>
      <br />
      <input type="submit" value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" />
    </form>
  </div>
{{end}}
